.contanier {
  text-align: center;
  text-shadow: 10px;
  text-decoration: overline;

}

h2{
  font-family: 'Black Ops One', cursive;
}
.player {
  float: right;
}
.player1 {
  float: left;
}
body{
  background-image: url(../img/image.gif);
  background-size : cover;
  background-repeat: no-repeat;

}
